/.idea/
/Data.1950+/
/node_modules/**/*.html
/node_modules/**/*.md
/node_modules/**/*.json
/node_modules/**/LICENSE
/node_modules/**/*.yml
/node_modules/**/*.txt
/node_modules/**/docs
/node_modules/**/src
/node_modules/**/.github
/node_modules/**/build
/node_modules/**/lib
/node_modules/**/example
/node_modules/**/examples
/node_modules/**/test
/node_modules/**/shared
/node_modules/bower
.vs
/VOD/VOD/
/VOD/VOD-Info/
/VOD/VOD-Subtitles/
/Meetings/progress/
Meetings/cache.json
Meetings/*.json.new
Meetings/cache.json
*.bak
Meetings/cache.json
Meetings/cache.json
